
@{
    ViewBag.Title = "Crud";
}

<h2>Crud</h2>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>@Html.ActionLink("Players", "Index", "Players")</li>
            <li>@Html.ActionLink("Matches", "Index", "Matches")</li>
        </ul>        
    </div>
</div>