@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jockey Games</h1>
    <p class="lead">Keep track of all of your scores!</p>
</div>

<div class="alert alert-success">
    You may now enter in scores of any matches you play (11 points, 21 points, etc.)<br />
    Previously, you could only enter in scores for matches playing to 11 points
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Players</h2>
        <p>View/create players</p>
        <p><a class="btn btn-default" href="/players">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Matches</h2>
        <p>Add match data</p>
        <p><a class="btn btn-default" href="/matches">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stats</h2>
        <p>View statistics</p>
        <p><a class="btn btn-default" href="/stats">Go &raquo;</a></p>
    </div>
</div>