@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:zach.wenta@jockey.com">zach.wenta@jockey.com</a><br />
</address>

<div>
    <p>All of these websites/databases/domain names cost about $45/mo (est. before first bill comes in).
    If you would like to help donate for these costs I would appreciate your offer!</p>
</div>