
@{
    ViewBag.Title = "Tournament";
}

<h2>Tournament</h2>
<div class="alert alert-warning">
    How are stats for seeds calculated? @Html.ActionLink("Click me to find out how", "How", "Stats")
</div>

<div>
    <h3>Ping Pong Madness (Tournament #2) rules</h3>
    <p>
        Based on your previous scores, you have been seeded on your W/L rating.
        World cup style scoring has been dropped as everyone didn't play their
        games. This tournament will be a single elimination tournament. Whoever
        wins best of 3 games (11 points per game) will win the match. Enter
        in your scores when you play your game <a target="_blank" href="/matches/create">HERE</a>, 
        or email your scores to <a href="mailto:zach.wenta@jockey.com">zach.wenta@jockey.com</a>
    </p>

    <hr />
    <iframe src="http://challonge.com/cwqhjocx/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
</div>