body {
    padding-top: 50px;
}
html, body{
    height: 100%;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
@media(max-width:767px){
    dt {float:left;padding-right:15px;}
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/* Custom css */
.jockey-color {background-color:#036;}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {color:#fff;}
.digit-input {max-width:42px;}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

.table > thead > tr > td.sunset,
.table > tbody > tr > td.sunset,
.table > tfoot > tr > td.sunset,
.table > thead > tr > th.sunset,
.table > tbody > tr > th.sunset,
.table > tfoot > tr > th.sunset,
.table > thead > tr.sunset > td,
.table > tbody > tr.sunset > td,
.table > tfoot > tr.sunset > td,
.table > thead > tr.sunset > th,
.table > tbody > tr.sunset > th,
.table > tfoot > tr.sunset > th {
  background-color: #f6e0cd;
}

.alert-sunset{
    background-color:#f6e0cd;
}


.table > thead > tr > td.seablue,
.table > tbody > tr > td.seablue,
.table > tfoot > tr > td.seablue,
.table > thead > tr > th.seablue,
.table > tbody > tr > th.seablue,
.table > tfoot > tr > th.seablue,
.table > thead > tr.seablue > td,
.table > tbody > tr.seablue > td,
.table > tfoot > tr.seablue > td,
.table > thead > tr.seablue > th,
.table > tbody > tr.seablue > th,
.table > tfoot > tr.seablue > th {
  background-color: #c8eaea;
}

.alert-seablue{
    background-color:#c8eaea;
}


.table > thead > tr > td.darkblue,
.table > tbody > tr > td.darkblue,
.table > tfoot > tr > td.darkblue,
.table > thead > tr > th.darkblue,
.table > tbody > tr > th.darkblue,
.table > tfoot > tr > th.darkblue,
.table > thead > tr.darkblue > td,
.table > tbody > tr.darkblue > td,
.table > tfoot > tr.darkblue > td,
.table > thead > tr.darkblue > th,
.table > tbody > tr.darkblue > th,
.table > tfoot > tr.darkblue > th {
  background-color: #a9aeea;
  border-color: #d6e9c6;
}

.alert-darkblue {
  background-color: #a9aeea;
}